@import "../../../../sap/ui/core/themes/base/base.less";
@import "../../../../sap/ui/core/themes/base/global.less";

.oChartLine {
	fill: none;
	stroke-linejoin: round;
	stroke-width: 2;
}

.oChartChart1 {
	&:extend(.oChartLine);
  stroke: @sapUiChart1;
}

.oChartChart2 {
	&:extend(.oChartLine);
  stroke: @sapUiChart2;
}

.oChartChart3 {
	&:extend(.oChartLine);
  stroke: @sapUiChart3;
}

.oChartChart4 {
	&:extend(.oChartLine);
  stroke: @sapUiChart4;
}

.oChartChart5 {
	&:extend(.oChartLine);
  stroke: @sapUiChart5;
}

.oChartChart6 {
	&:extend(.oChartLine);
  stroke: @sapUiChart6;
}

.oChartChart7 {
	&:extend(.oChartLine);
  stroke: @sapUiChart7;
}

.oChartChart8 {
	&:extend(.oChartLine);
  stroke: @sapUiChart8;
}

.oChartChart9 {
	&:extend(.oChartLine);
  stroke: @sapUiChart9;
}

.oChartChart10 {
	&:extend(.oChartLine);
  stroke: @sapUiChart10;
}

.oChartChart11 {
	&:extend(.oChartLine);
  stroke: @sapUiChart11;
}
