@import "../../../../../sap/ui/core/themes/base/base.less";
@import "../../../../../sap/ui/core/themes/base/global.less";

.fcBullish {
  fill: @sapUiChartGood;
  stroke: @sapUiChartGood;
}

.fcBearish {
  fill: @sapUiChartBad;
  stroke: @sapUiChartBad;
}

.fcCandleBody {
  stroke-width: 0;
}

.fcCandleShadow {
  stroke-width: 1;
}
